@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
  will-change: transform;
}

.hover\:pause:hover {
  animation-play-state: paused;
}
