{
  "project_info": {
    "project_number": "84450936891",
    "project_id": "vanjarijodi",
    "storage_bucket": "vanjarijodi.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:84450936891:android:6b10bd21f9a1712cbfb41e",
        "android_client_info": {
          "package_name": "com.vanjarijodi.app"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_GOOGLE_API_KEY_HERE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
